<html>
<header>
<nav class="navbar fixed-top navbar-light bg-dark">    
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formulaire">Formulaire 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formulaire2">Formulaire 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formulaire3">Formulaire 3</a>
      </li>
    </ul>
</nav>
</header>



<body class="vertical-center" style=“width: 400px;“>
<h1 class="BLI">Welcome voici les differents formulaires fdp: </h1>
<%= link_to "formulaire", formulaire_path %><br /><br />
<%= link_to "formulaire2", formulaire2_path %><br /><br />
<%= link_to "formulaire3", formulaire3_path %><br /><br />
</body>

</html>