<html>
<header>
<nav class="navbar fixed-top navbar-light bg-dark">    
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formulaire">Formulaire 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formulaire2">Formulaire 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/formulaire3">Formulaire 3</a>
      </li>
    </ul>
</nav>
</header>
<body class="vertical-center" style=“width: 400px;“>

<h1 class = "BLA">Formulaire manuel</h1>

<p>Si vous etes des FDP passionés, entrez vos infos, bande de batards: </p>
<br />
<form action ='/formulaire' method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">

  <p>Prenom</p>
  <input type="text" name="username">
  
  <br />
  <p>Email</p>
  <input type="text" name="email">
 
  <br />
  <p>Votre passion</p>
  <input type="text" name="bio"><br /><br />

  <input type="submit" name='Envoyer'>

</form>

</body>
</html>